#conversor {
  align-items: center;
  background-color: #f2f2f2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 40%;
  left: 50%;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

#conversor h1 {
  font-size: 150%;
  font-weight: bold;
  grid-column: 1/-1;
  text-align: center;
}

#valor {
  grid-row: 2;
  text-align: center;
}

#valor label {
  display: block;
  margin-bottom: 10px;
}

#de {
  grid-row: 3;
  text-align: center;
}

#div-inverter {
  display: flex;
  justify-content: flex-end;
}

#inverter {
  background-color: darkblue;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  display: block;
  padding: 10px 20px;
  position: absolute;
  right: 10%;
  top: 45%;
  transition: all 0.2s ease-in-out;
}

#inverter:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}

#para {
  grid-row: 4;
  text-align: center;
}

#converter {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  display: block;
  grid-row: 5;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 40%;
}

#converter:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}

#moedaDe, #inverter, #moedaPara, #converter:hover {
  cursor: pointer;
}

#resultado {
  font-size: 150%;
  font-weight: bold;
  grid-column: 1/-1;
  grid-row: 6;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  
  #conversor {
    height: max-content;
    width: 100%;
  }

  label {
    font-size: 150%;
  }

  #de, #para {
    margin-left: -20px;
  }

  #moedaDe, #moedaPara {
    font-size: larger;
    padding: 1%;
  }

  #inverter {
    position: absolute;
    right: 9%;
    top: 44%;
    width: 25%;
  }
}